.error {
    color: var(--error-color);
    margin: 10px 0
}


.image {
    margin-bottom: -4px;
    width: 100%;
    max-width: 350px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

