.wrapper {
  display: flex;
}
.message {
    color: white;
    margin: 20px 0;
    font-family: monospace, arial;
}


.typewriter h1 {
    font-size: 42px;
    color: #fff;
    overflow: hidden; 
    border-right: .15em solid #E87A00;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #E87A00 }
  }

  .container {
    color: white;
  }

  .image {
    width: 400px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }