.error {
    color: red;

}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 350px;
    margin-bottom: -4px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
