
.App {
  text-align: center;
}

.navigation-link {
  display: block;
  min-width: var(--button-size);
  text-decoration: none;
  background-color: #023047;
  color: white;
  padding: 10px 20px;
  color: 	rgb(250, 249, 246);
  margin: 10px 10px;
  font-size: 16px;
  border-radius: 10px;
  line-height: normal;
  font-weight: bold;
}

.entry-link {
  text-decoration: none;
  cursor: pointer;
  min-width: var(--button-size);
  background-color: 
  var(--secondary-color) ;
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: 	var(--white-color);
  margin: 10px 10px;
  font-size: 16px;
  font-weight: bold;
}

.entry-link:hover {
 background-color: var(--secondary-faded-color)
}

.navigation-link:hover {
  background-color: var(--primary-color)
}


.welcome {
  display: flex;
  flex-direction: column;
  
}
