.label {
    font-weight: bold;
}

.label span {
    font-weight: normal;
}

.error {
    color: var(--error-color);
}


.image {
    margin-bottom: -4px;
    width: 100%;
    max-width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}